body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.header{
    background-image: url("section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
}
.row{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.hexagon {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #18cfab;
    margin: auto 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 20px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 20px solid #18cfab;
}
.H {
    position: absolute;
    color: white;
    font-size: 40px;
    margin: 42px 16px;
}

.logo-name {
    margin-left: -110px;
    margin-top: 15px;
}

.logo{
    font-size: 30px;
    color: white;
}
.logo-color {
    color: #18cfab;
}
.header-links {
    display: inline-block;
    margin: 60px 0 55px;
}
.h-l {
    text-decoration: none;
    font-size: 15px;
    color: grey;
    text-transform: uppercase;
    padding-right: 20px;
    transition: all .2s ease-out;
    overflow: auto;
}
.h-l:hover{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
    padding-bottom: 54px;
    padding-right: 0;
    margin-right: 20px;
}

.container2{
    text-align: center;
    margin-top: 150px;
    padding: 0;
}
.p1{
    color: white;
    font-size: 25px;
    margin-top: -40px;
}
.p2{
    font-size: 60px;
    color: white;
}
.p3{
    font-size: 25px;
    color: grey;
    margin: -20px 0 60px;
}
.b1{
    background-color: #18cfab;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.b2{
    background-color: #00cbf6;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.square1, .square3{
    background-color: #1c2a33;
    color: #18cfab;
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 70px;
}
.square2, .square4{
    background-color: #18cfab;
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 70px;
}

.section-2 {
    padding: 40px 200px;
}

.line1,.line3{
    border-top: 10px solid #18cfab;
}
.line2,.line4 {
    border-top: 10px solid white;
}
.fa.fa-diamond, .fa.fa-lightbulb-o, .fa.fa-hand-o-up, .fa.fa-tablet{
    font-size: 90px;
}

.ourservices{
    font-size: 36px;
    text-align: center;
    color: black;

}
.l1{
    width: 70px;
    border-bottom: 1px solid #18cfab;
    margin-top: -30px;
    margin-left: 400px;
}
.l2 {
    width: 70px;
    border-bottom: 1px solid #18cfab;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-left: 410px;
}

ul {
    list-style: none;
    padding-left: 0;

}


.tabs, #filter-titles {
    display: flex;
    justify-content: center;
    position: relative;
}
.tabs-title, .filter-title {
    padding: 25px;
    background-color: #f8fcfe;
    color: black;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#18cfab ;
    color: white;
}

.tabs-title.active:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -60px;
}


.tabs-title.active:after {
    top: 100%;
    width: 0;
    border-top: 10px solid #18cfab;
}

.remove{
    display: none;

}
.tab-text{
    font-size: 14px;
    text-align: justify;
    width: calc(100% - 310px);
    display: inline-block;
    justify-content: center;

}
.image {
    margin: 0 10px;
}
.act{
    display: block;
}

.section-3{
    background-image: url('section-2.jpg');
    height: 470px;
    background-size: cover;
    position: relative;
    background-color: rgba(102,101,96,0.5);
}
.s2{
    text-align: center;
    margin-top: 100px;
    padding: 100px;
}
.p4{
    font-size: 30px;
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
}
.p5{
    font-size: 20px;
    color: grey;
}
.purchase{
    color: white;
    background-color: #18cfab;
    padding: 25px;
    text-transform: uppercase;
}

.section-4 {
    padding: 40px 200px;
}

.l3{
    width: 70px;
    border-bottom: 1px solid #18cfab;
    margin-top: -20px;
    margin-left: 400px;
}
.l4 {
    width: 70px;
    border-bottom: 1px solid #18cfab;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-left: 410px;
}
.white {
    width: 283px;
    height: 203px;
}
.white:hover{
    border-top: 1px solid #18cfab;
}
.fa-link{
    margin-top: 50px;
    margin-left: 105px;
    color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 50%;
    padding: 8px;
}
.fa-search-plus{
    margin-top: 50px;
    margin-left: 15px;
    color: white;
    border: 1px solid #18cfab;
    border-radius: 50%;
    padding: 8px;
    background-color: #18cfab;
}
.p7{
    color: #18cfab;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.p8{
    color: grey;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


.filter-title.active {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}
.images{
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    margin-bottom: -2px;
}

.load {
    background-color: #18cfab;
    padding: 15px;
    margin-top: 30px;
    margin-left: 360px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.fa-plus{
    margin-right: 10px;
}

.footer {
    background-color: #22353f;
    height: 100px;
    padding: 20px;
}
.p6 {
    font-size: 26px;
    color: grey;
    text-align: center;
}